h2{
    color: rgb(179, 37, 37)
}

h1{
    color: rgb(58, 58, 148)
}
.encabezado{
    background-color: lightgray;
}
.logo img{
    width: 500px;
    height: 300px;
}
.redes img{
    width: 30px;
    height: 30px;
}